<section class="container">
	<div class="page-header">
    <h3>{{title}}</h3>
	</div>
	<div class="">
	\{{#form-for controller}}		
			\{{input {{name}} }}
		\{{submit}}
	\{{/form-for}}
	</div>
</section>