<h2>{{title}}</h2>

\{{#linkTo "{{newPath}}"}}New {{modelTitle}}\{{/linkTo}}

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 view-entries">
      \{{#collection contentBinding="controller"\}}
        \{{{{modelName}}-brief modelBinding=this\}}
      \{{/collection\}}
    </div>
  </div>
</div>
